.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: auto;
    padding: 15px 30px;
    background-color: #ebf3f7;
    border: 2px solid red;
    text-align: center;
    border-radius: 10px;
    margin: 30px;
}

.container h1 {
    font-size: 25px;
    color: red;
    margin: 0px;
    padding-bottom: 10px;
}

.container button {
    font-size: 15px;
    margin: 0px;
}

@media(max-width: 600px) {
    .container {
        padding: 5px;
    }
}